<br>
<h3>Homework 2</h3>
<hr />
<br>
<form #myForm="ngForm" (ngSubmit)="myForm.form.valid && onSubmit(myForm)">
<!--  <div class="form-row">
    <div class="form-group col-md-6 mb-5 ">
      <label>Origination Airport</label>
      <input type="text" name="deptname" class="form-control" [(ngModel)]="model.deptname" #deptname="ngModel"
             [ngClass]="{ 'is-invalid': myForm.submitted && deptname.invalid }" required>
      <div *ngIf="myForm.submitted && deptname.invalid" class="invalid-feedback">
        <p *ngIf="deptname.errors.required">Origination Airport is required</p>
      </div>
    </div>

    <div class="form-group col-md-6 mb-5">
      <label>Destination Airport</label>
      <input type="text" class="form-control" name="arrivename" [(ngModel)]="model.arrivename" #arrivename="ngModel"
              [ngClass]="{ 'is-invalid': myForm.submitted && arrivename.invalid }" required>
        <div *ngIf="myForm.submitted && arrivename.invalid" class="invalid-feedback">
          <p *ngIf="arrivename.errors.required">Destination Airport is required</p>
        </div>
    </div>
  </div>-->

  <div class="form-row">
    <div class="form-group col-md-6 mb-5 ">
      <label>Origination Airport</label>
      <select class="form-control" name="deptname" [(ngModel)]="model.deptname" #deptname="ngModel"
              [ngClass]="{ 'is-invalid': myForm.submitted && deptname.invalid }" required>
        <option value="">Select an option</option>
        <option *ngFor="let airport of Airport" [value]="airport">
          {{airport}}
        </option>
        <div *ngIf="myForm.submitted && deptname.invalid" class="invalid-feedback">
          <p *ngIf="deptname.errors.required">Destination Airport is required</p>
        </div>
      </select>
    </div>

    <div class="form-group col-md-6 mb-5">
      <label>Destination Airport</label>
      <select class="form-control" name="arrivename" [(ngModel)]="model.arrivename" #arrivename="ngModel"
              [ngClass]="{ 'is-invalid': myForm.submitted && arrivename.invalid }" required>
        <option value="">Select an option</option>
        <option *ngFor="let airport of Airport" [value]="airport">
          {{airport}}
        </option>
        <div *ngIf="myForm.submitted && arrivename.invalid" class="invalid-feedback">
          <p *ngIf="arrivename.errors.required">Destination Airport is required</p>
        </div>
      </select>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6 mb-5">
      <label>Travel Date</label>
      <input type="date" class="form-control" name="regdate" [(ngModel)]="model.regdate" #regdate="ngModel">
      <div *ngIf="myForm.submitted && regdate.invalid" class="invalid-feedback">
        <p *ngIf="arrivename.errors.required">Travel Date is required</p>
      </div>
    </div>

    <div class="form-group col-md-6 mb-5">
      <label>Number of Travelers</label>
      <input type="number" class="form-control" name="numpassage" [(ngModel)]="model.numpassage" #numpassage="ngModel">
      <div *ngIf="myForm.submitted && numpassage.invalid" class="invalid-feedback">
        <p *ngIf="arrivename.errors.required">Number of Travelers is required</p>
      </div>
    </div>


  </div>

  <div class="form-row"  *ngIf="myForm.form.valid && myForm.submitted">
    <div class="form-group col-md-4 mb-5">
      <p>Departing from: {{model.deptname}}</p>
    </div>
    <div class="form-group col-md-4 mb-5">
      <p>Going to: {{model.arrivename}}</p>
    </div>
    <div class="form-group col-md-4 mb-5">
      <p>Total cost: {{!model.numpassage ? 0 : model.numpassage * 150}} USD</p>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12 mb-5">
      <button class="btn btn-primary btn-block" type="submit">Submit</button>
    </div>
  </div>

</form>



